<!DOCTYPE html>
<html>
<head>
	<title>Epic Button Game</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			//this triggers the connection event in our sever!
			var socket = io.connect();
			//Events client is emitting...
			$("#epic_button").click(function(){
				socket.emit("epic_click");
			})
			$("#reset_button").click(function(){
				socket.emit("reset_click");
			})
			//Events client is listening to...
			socket.on('updated_count', function(data){
				$("#count").html("The button has been pushed " + JSON.stringify(data.response) + " time(s)");
			})
		})


	</script>
</head>
<body>
	<h1 id="count">The button has been pushed <%= count %> time(s)</h1>
	<p>Push the button to update the count!</p>
	<button id="epic_button">Epic Button</button>
	<button id="reset_button">Reset Count</button>
</body>
</html>