<!DOCTYPE html>
<html>
<head>
	<title>Mongoose Dashboard | Show</title>
</head>
<body>
	<h1>Show</h1>
	<p><%= dog.name %></p>
	<p><%= dog.weight %></p>
	<p><%= dog.color %></p>
	<p><a href="/">Back</a></p>
</body>
</html>