<!DOCTYPE html>
<html>
<head>
	<title>Quoting Dojo Redux | Index</title>
</head>
<body>
	<h1>Welcome to Quoting Dojo</h1>
	<form action="/create" method="post">
		<p>Your Name:</p>
		<p><input type="text" name="name"></p>
		<p>Your Quote:</p>
		<p><textarea name="quote"></textarea></p>
		<p><input type="submit" value="Add Quote"></p>
	</form>
	<a href="/quotes">Skip to Quotes</a>
</body>
</html>