<!DOCTYPE html>
<html>
<head>
	<title>Survey Form | Results</title>
</head>
<body>
	<h1>Submitted Information</h1>
	<table>	
		<tr>
			<td>Name:</td>
			<td><%= user.name %></td>
		</tr>
		<tr>
			<td>Dojo Location:</td>
			<td><%= user.location %></td>
		</tr>
		<tr>
			<td>Favorite Language:</td>
			<td><%= user.language %></td>
		</tr>
		<tr>
			<td>Comment:</td>
			<td><%= user.comment %></td>
		</tr>
	</table>
</body>
</html>